body {
background-color: #5f6d8a;
font-family: Verdana, sans-serif;
margin: 100px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 16px;
  text-decoration: none;
  padding: 10px 16px;
}

.grade {
  display: grid;
 flex-gap: 16px;
  flex-rwap: wrap;
  margin-top: 16px;
}

.card {
  flex: 1;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

.etiqueta {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #7A2E1E;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
}

#topo{
position: fixed;
top: 0;   
left: 0;
width: 100%;
background-color:#7A2E1E;
color: white;
padding: 20px;
text-align: center;
z-index: 100;
}